:local .siteMain
  background-color darken(#81909E, 20%)
  min-height 60vh
  color #efefef

:local .mainArticle
  margin 1rem 0rem

  p
    margin 2rem 0rem 3rem

:local .welcomeSign
  border-bottom 5px solid white
  padding-bottom 1px
  display inline